.container {

    height: 200px;
    border: 3px solid white;
}
.title {
    padding: 20px;
    margin: 0;
}
.boxSelectors {
    padding: 20px;
    font-size: 25px;
}

.dark {
    height: 100%;
    background: #2e2e2e;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
    height: 100%;
}

.red-text {
    color: aqua;
}

.some {
    height: 100%;
    background: var(--colorOne);
    color: white;
}


.some-text {
    color: darkslateblue;
}