.boxRequest {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.checkboxRequest {
    transform:scale(3);
    margin: 1rem 1rem 1rem 1rem;
    opacity:0.9;
    cursor:pointer;
}
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}