/*// можно поменять*/

:root {
    --red: #f16666;
    --redHover: #f53232;
}

.default {
    margin: 0.5rem 0 0.5rem 0;
    background: white;
    border-radius: 0.3rem;
    border: 2px solid white;
    cursor: pointer;
    color: black;
    padding: 0.3rem 1rem 0.3rem 1rem;
    transition: ease-in 0.2s;
}
.default:hover{
    background-color: #4187ab;
    color: white;
}
.default:disabled{
    opacity: 0.7;
    color: white;
    background-color: grey;
    border: 2px solid grey;
}
.red {
    margin: 0.5rem 0 0.5rem 0;
    background: var(--red);
    border-radius: 0.3rem;
    border: 2px solid var(--red);
    cursor: pointer;
    color: white;
    padding: 0.3rem 1rem 0.3rem 1rem;
    transition: ease-in 0.2s;
}
.red:hover{
    background-color: var(--redHover);
    border: 2px solid white;
}